.inicio {
    margin-top: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas:
        "img";
    img {
            grid-area: img;
            width: 60%;
            justify-self: center;
            border-radius: 20px;
    }
}

@media screen and (max-width: 600px) {
    .inicio {
        margin-top: 10px;
        padding: 5px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        grid-template-areas:
            "img";
        img {
                grid-area: img;
                width: 80%;
                justify-self: center;
                border-radius: 20px;
        }
    }
}